<p-toast>
  <ng-template let-message pTemplate="message">
    <div class="p-flex p-flex-column" style="flex: 1">
        <div class="p-text-center">
            <div class="grid">
              <div class="col-2"><i class="pi pi-user icon" style="font-size: 2rem"></i></div>
              <div class="col-8"><p>{{message.detail}}</p></div>
            </div>
        </div>
    </div>
</ng-template>
</p-toast>

<app-side-bar></app-side-bar>


<div class="grid">
  <div class="col-6 sm:col-6 md:col-6">
    <div class="card">
      <p-card header="Programa de indicação" [style]="{width: '360px'}" styleClass="p-card-shadow">
        <ng-template pTemplate="header">
            <img alt="Card" src="assets/emprestimo.jpg">
        </ng-template>
        <p>Temos as melhores ofertas de emprestimo do mercado, com juros baixíssimos vai perder essa oportunidade? faça ja sua proposta clicando logo abaixo!</p>
        <ng-template pTemplate="footer">
            <p-button label="Fazer proposta" (click)="redirecionar('emprestimo/solicitar')" icon="pi pi-check"></p-button>
        </ng-template>
      </p-card>
    </div>
  </div>
  <div class="col-6 sm:col-6 md:col-6">
    <div class="card">
      <p-card header="Programa de indicação" [style]="{width: '360px'}" styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img alt="Card" src="assets/indicar.jpg">
        </ng-template>
        <p>A cada amigo indicado que fizer emprestimo, você ganhara até 3% de desconto no proximo emprestimo!</p>
        <ng-template pTemplate="footer">
          <p-button label="Indicar amigo" (click)="showDialog()" icon="pi pi-check"></p-button>
        </ng-template>
      </p-card>
  </div>
  </div>
</div>






<p-dialog header="Indicar Amigo" [(visible)]="display">
  <input type="text" class="p-inputtext-sm" [(ngModel)]="email" placeholder="Digite o email do amigo" pInputText /><br><br>
  <p-button label="Indicar" (click)="HideDialog()"></p-button>

</p-dialog>
