:host ::ng-deep .p-card {
  margin-top: 0%;
  margin-left: 0%;
  background: #ffffff;
  color: #495057;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
  border-radius: 3px;
}

h1 {
  float: right;
}

::ng-deep .p-panel {
  padding-left:5em;
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 1em;
}

::ng-deep .p-panel p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

::ng-deep .p-panel .p-panel-header {
  border: 1px solid #dee2e6;
  padding: 1rem;
  background: #005fab;
  color: #ffffff;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}


