<div class="grid">
  <div class="col-5 sm:col-5 md:col-6">
    <p-panel header="Codigo do empréstimo"> </p-panel>
  </div>
  <div class="col-5 sm:col-5 md:col-6">
    <p-panel header="Valor de emprestimo"> </p-panel>
  </div>
  <div class="col-5 sm:col-5 md:col-6">
    <p-panel header="Quantidade de parcelas"> </p-panel>
  </div>
  <div class="col-5 sm:col-5 md:col-6">
    <p-panel header="Data da primeira parcela"> </p-panel>
  </div>
  <div class="col-5 sm:col-5 md:col-6">
    <p-panel header="Email do solicitante"> </p-panel>
  </div>
  <div class="col-5 sm:col-5 md:col-6">
    <p-panel header="Renda do solicitante"> </p-panel>
  </div>
</div>
<app-side-bar
[ngClass]="ngClass"
></app-side-bar>
