<p-sidebar [(visible)]="visibleSidebar1" [modal]="true">
  <div class="grid">
    <div class="col-7">
      <h1 class="h1">Olá, {{nome}}</h1>
    </div>
    <div class="col-5">
      <i class="pi pi-sign-out icon-sair" pTooltip="Sair do sistema" (click)="sair()"></i>
    </div>
    <div class="col-6">
      <h3 class="h1">{{data}}</h3>
    </div>

    <div class="col-12">
      <button class="btn-menu"  (click)="redirecionar('')" >Página inicial</button>
    </div>
    <div class="col-12">
      <button class="btn-menu" (click)="redirecionar('emprestimo/solicitar')">Solicitar Emprestimo</button>
    </div>
    <div class="col-12">
      <button class="btn-menu" (click)="redirecionar('/emprestimo')" >Consultar Meus Emprestimos</button>
    </div>
  </div>
  </p-sidebar>
  <button type="button" ngClass="{{ngClass}}" (click)="visibleSidebar1 = true"><i class="pi pi-bars" style="font-size: 1rem"></i> Menu</button>
