
<p-table [value]="listaRegistros" [paginator]="true" [rowsPerPageOptions]="[5,25,50]" [rows]="5" styleClass="p-datatable-gridlines" responsiveLayout="scroll">
  <ng-template pTemplate="caption">
      Emprestimos
  </ng-template>
  <ng-template pTemplate="header">
      <tr>
        <th [ngClass]="th.labelClass" *ngFor="let th of labels">
          {{th.label}}
        </th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-registros let-i="rowIndex">
      <tr>
          <td *ngFor="let dados of colunas" [ngClass]="{'detalhes': dados.thClass === true}">
            <div *ngIf="!dados.statusClass">
              <span>{{ registros[dados.field] }}</span>
            </div>
            <div *ngIf="dados.statusClass">
              <span>{{ statusClass(registros[dados.field]) }}</span>
            </div>

            <i class="pi pi-window-maximize" [ngClass]="'detalhes'" *ngIf="dados.icon"></i>
          </td>
      </tr>
  </ng-template>
</p-table>
